@inherits AudioGroupComponentBase

<MudCard Outlined="true">
    <MudCardContent>
        <div style="display: flex; align-items: center; justify-content: space-between; flex-flow: row;">
            <MudText Typo="Typo.h3">@GroupControls.Name</MudText>
            
            <MudIconButton Icon="@Icons.Filled.Delete" OnClick="@KillGroup"/>
            
            <SelectAudioDevice GroupId="@GroupId"/>
        </div>
        
        <MudDivider Class="my-4"/>
        
        @foreach (var streamId in Streams)
        {
            <AudioSlot StreamId="@streamId" OnKill="@ChildOnKill"/>
        }
        
        <AddNewAudioSlot CreateAudioSlot="@CreateNewAudioSlot"/>
    </MudCardContent>
</MudCard>
